*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

:root{
    --main-background: #2E2E2E;
    --color-principal: #F7C505;
    --color-dragon: linear-gradient(rgba(84, 165, 208, 1), rgba(241, 110, 87, 1));
    --color-fantasma: #B97FC9;
    --color-hielo: #51C4E7;
    --color-roca: #A38C21;
    --color-lucha: #D56723;
    --color-hada: #FDB9E9;
    --color-tierra: linear-gradient(rgba(247, 222, 63, 1), rgba(171, 152, 66, 1));
    --color-electrico: #EED535;
    --color-normal: #A4ACAF;
    --color-bicho: #729F3F;
    --color-volador: linear-gradient(rgba(61, 199, 239, 1), rgba(189, 185, 184, 1));
    --color-agua: #4592C4;
    --color-veneno: #B97FC9;
    --color-planta: #9BCC50;
    --color-fuego: #FD7D24;
    --color-psiquico: #F366B9;
   --color-acero: #9EB7B8; 
    --color-black: #000;
    --color-white: #FFF;
}

.fire{
    background-color: var(--color-fuego);
    color: #fff;
}

.steel{
    background-color: var(--color-acero);
    color: var(--color-white);
}

.dragon{
    background-image: var(--color-dragon);
    color: var(--color-white);
}

.psychic{
    background-color: var(--color-psiquico);
    color: var(--color-white);
}

.grass{
    background-color: var(--color-planta);
    color: black;
}

.poison{
    background-color: var(--color-veneno);
    color: var(--color-white);
}

.water{
    background-color: var(--color-agua);
    color: var(--color-white);
}

.flying{
    background-image: var(--color-volador);
    color: var(--color-white);
}

.bug{
    background-color: var(--color-bicho);
    color: var(--color-white);
}

.normal{
    background-color: var(--color-normal);
    color: var(--color-black);
}

.electric{
    background-color: var(--color-electrico);
    color: var(--color-black);
}

.ground{
    background-image: var(--color-tierra);
    color: var(--color-white);
}

.fairy{
    background-color: var(--color-hada);
    color: var(--color-black);
}

.fighting{
    background-color: var(--color-lucha);
    color: var(--color-white);
}

.rock{
    background-color: var(--color-roca);
    color: var(--color-white);
}

.ice{
    background-color: var(--color-hielo);
    color: var(--color-white);
}

.ghost{
    background-color: var(--color-fantasma);
    color: var(--color-white);
}







body {
    background-color: var(--main-background);
}

.main-container{
    background-color: var(--main-background);
}

.landing-page{
    background-image: url('assets/imgs/ladding-background.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.landing-page nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.landing-page nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 2.4rem;
    list-style: none;
}

.landing-page nav ul a{
    color: var(--color-principal);
    text-decoration: none;
}

.h1-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: var(--color-principal);
    font-size: 9.6rem;
    font-weight: bold;
}

.presentation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    place-content: middle;
    height: 100vh;
    width: 100%;
}

h2{
    color: var(--color-principal);
    font-size: 4.8rem;
    font-weight: normal;
    text-align: center;
    width: 40%;
}

h3{
    color: var(--color-principal);
    font-size: 4.8rem;
    font-weight: normal;
    margin-bottom: 78px;
    text-align: center;
}

.cards-container{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 224px);
    grid-column-gap: 67px;
    grid-row-gap: 67px;
    justify-content: center;
    margin-bottom: 78px;
    text-align: center;
    width: 100%;
}

.card{
    background-color: rgba(232, 232, 232, 1);
    border-radius: 20px;
    height: 286px;
    width: 224px;
    box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.5);
    position: relative;
}

.pokemon-id{
    font-size: 1.8rem;
    font-weight: 400;
    left: 10px;
    position: absolute;
    top: 8px;
}

.card img{
    height: 132px;
    margin-bottom: 14px;
    margin-top: 12px;
    width: 117px;
    vertical-align: middle;
}

.pokemon-name{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: 500;
}

.type-container{
    display: flex;
    justify-content: space-around;
    margin-top: 17px;
    width: 100%;
}

.type{
    align-items: middle;
    border-radius: 10px;
    display: flex;
    font-size: 1.6rem;
    padding: 3.5px 10px;
}

footer{
    height: 110px;
    background-color: #1B1B1B;
}

footer div{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 40%;
}

footer ul a{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
}